* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;

}
body {
    height: 100vh;
    width: 100vw;
    /* background: linear-gradient(45deg, #ffa537 50%, #111 50%); */
    background: linear-gradient(50deg, white 50%, black 50%);
}

.clock {
    height: 90vmin;
    width: 90vmin;
    background: #111;
    border-radius: 50%;
    border: 4vmin solid orange;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    /* first value set the outer shadow and second value sets the outer value*/
    box-shadow: 0 0 30px 5px lightyellow,
    inset 0 0 10px 1px black;    
}
svg {
    height: 100%;

    width: 100%;
}

#hour-hand{
    height: 20%;
    width: 3%;
    background: white;
}

#min-hand {
    height: 25%;
    width: 2%;
    background:#777 ;

}

#sec-hand {
    height: 30%;
    width: 1%;
    background: #ff7337;

}

#hour-hand, #min-hand, #sec-hand {
    position: absolute;
    left: 0;
    right: 0;
    margin: auto;
    bottom: 50%;
    z-index: -1;
    border-radius: 1vmin;
    transform-origin: bottom;
    
}
path {
    fill: rgb(30, 255, 0) !important;
}