* {

}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.halnd {
    width: 50%;
    height: 6px;
    background: black;
    position: absolute;
    top: 50%;
    /* set the rotation at 0 axis */
    transform-origin: 100%;
    transform: rotate(90deg);
    /* transition: all 0.05s; */
    tracnsition-timing-function: cubic-bezier(0.075, 0.82, 0.165, 1);
}

.hand {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: black;
    transform-origin: 100%;
    transform: rotate(90deg);
    top: 50%;
}

.hour-hand {
    background-color: white;
    height: 6px;
}
.min-hand {
    background-color: white;
    height: 4px;
}

.sec-hand {
    background-color: #91dbf4;
}
.clock{
    position: absolute;
    width: 200px;
    height: 200px;
    border: 10px solid #ADD8E6 ;
    border-radius: 50%;
}

.circle {
    background-color: red;
    width: 200px;
    height: 200px;
    border-radius: 50%;
}
